@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,100;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.content {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: hsl(255, 14%, 95%);
}

.content .textbox {
  position: relative;
  max-width: 600px;
}

.content .textbox h2 {
  color: #333;
  font-size: 4em;
  line-height: 1.4em;
  font-weight: 500;
}
.content .textbox h3 {
  background-color: #017143;
  width: 400px;
  color: #fff;
  display: flex;
  justify-content: center;

  margin-left: 40%;
  margin-top: 9px;
  font-weight: 800;
}

.content .textbox h1 span {
  color: #017143;
  font-size: 0.98em;
  font-weight: 900;
}

.content .textbox p {
  color: #333;
}
.content .textbox a {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 20px;
  background: #017143;
  color: #fff;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
}

.content .imgbox {
  /* width: 800px; */
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  margin-bottom: 50px;
  clip-path: circle(700px at right 400px);
}

/* .cercle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #017143;
  clip-path: circle(600px at right 800px);
} */

.buttons {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 100px;

  margin-left: 100px;
}
.signin {
  width: 220px;
  height: 60px;
}
.signup {
  width: 220px;
  height: 60px;
}
.signin:hover {
  box-shadow: #017143;
  letter-spacing: 0.25em;
  /* box-shadow: 0 0 35px greenyellow; */
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;
}

.signup:hover {
  box-shadow: #017143;
  letter-spacing: 0.25em;
  /* box-shadow: 0 0 35px greenyellow; */
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;
}
a {
  font-size: 1.7em;
  font-weight: 900;
}
