@import url(" https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap ");


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  /* color: black; */
}

/* :root {
  --color-white: hsl(252, 30%, 100%);
  --color-light:hsl(252, 30%, 95%); 
  --color-gray: hsl(252, 15%, 65%);
  --color-primary: hsl(252, 75%, 60%);
  --color-secondary: hsl(252, 100%, 90%);
  --color-success: hsl(120, 97%, 23%);
  --color-danger: hsl(0, 95%, 65%);
  --color-dark: hsl(252, 30%, 17%);
  --color-black: hsl(252, 30%, 10%);

  --border-radius: 2rem;
  --card-border-radius: 1rem;
  --btn-padding: 0.6rem 2rem;
  --searching-padding: 0.6rem 1rem;
  --card-padding: 1rem;
} */

.header{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  height: 7rem;
  background-color: #e8eaec;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

.btn{
  visibility: hidden;
  pointer-events: none;
}

.menuNav{
  position: absolute;
  right: 50px;
  display: flex;
  align-items: center;
  /* background-color: red; */
  bottom: 32px;
  justify-content: space-evenly;
  gap: 80px;
  font-size: 20px;
  
  
}
a {
  color: black;
  /* text-decoration: none; */
  font-size: 18px;
}

a:hover {
  color: #51cdbe;
  text-decoration: none;
}

@media (max-width: 1025px) {
  
  .btn{
    visibility: visible;
    pointer-events: auto;
    opacity: 0.5;
    background: none;
    cursor: pointer;
    float: right;
    
  }

  
.menuNav{
  position: fixed;
  top: 20;
  right: 0;
  color: aliceblue;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  /* gap: 7rem; */
  background-color: rgb(255, 255, 255);
  transition: 1s;
  /* transform: translateY(-100vh); */
  /* text-align: top; */
  z-index: 10;
  /* align-items: ; */
}

.menuNav >li{
  background-color: transparent;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100px;
  margin: 40px auto;
}

.menuNav:hover{
  color: #51cdbe;
  text-decoration: none;

}
.showMenu{
  display: block;
  height: 84.5%;
  justify-content: space-between;

}
.closeMenu{
  display: none;
}



}
