.main {
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 90px 0 90px 0;
  background-color: rgba(255, 255, 255, 0.993);

}



.sub-main {
  display: flex;
 justify-content: center;
  height: 390px;
  width: 60%;
  box-shadow: 11px 12px 13px 12px rgba(207, 207, 207 ,0);
  padding-top: 0px;
  background-color:rgba(4, 134, 32, 0.973) ;
}

.imgs{
  padding-top: 20px;
  justify-content: center;
  display: flex ;
}


.Logo{
  height: 100px;
  width: 150px;
  border-radius: px;
  padding-right: 490px;
}

.name{
  width: 250px;
  height: 40px;
  border-radius: 20px;
   border:px;
   outline: none;
   background-color: #fff;
  
}

.email{
  height: 20px;
  width: 19px;
  position:absolute;
  padding: 13px;
}

.Lock{
  height: 20px;
  width: 25px;
  position: absolute;
  padding: 13px;
}

.name{
  padding-left: 80px;
  font-size: 15px;
}

.second-input{
  padding-top: 20px;
}

button{
  width: 380px;
  height: 50px;
  border-radius: 60px;
  color: rgb(17, 16, 16);
  font-size: 20px;
  border: none;
  box-shadow: inset 0px 0px 25px 0px #888;
}



.login-button{
  padding-top: 15px;
  
}

.link{
  font-size: 25px;
  font-weight: 400px;
}

a{
  color: rgb(13, 102, 40);
}

input{
  width: 300px;
  height: 50px;
  border-radius: 60px;
  box-shadow: inset 0px 0px 25px 0px #888;
}
